PORT=5000
MONGO_URI=mongodb+srv://gowrimamidisetti356_db_user:resumeroast123@cluster0.uqwaqgk.mongodb.net/?appName=Cluster0

PINECONE_API_KEY=pcsk_2JhPcr_3eGBYiUA3uu2DDQ6FFe47QcPmCVNhhYr4xLCBPg4fVhgrBD6gu2AkVXig2pwpu6
PINECONE_INDEX=resumeroast
GEMINI_API_KEY=AIzaSyBMKmzu7aBKSW4OupjmcWFER8S_0cobByU
